{% extends "index.html" %}

{% block titulo %}
<title>Sobre mí</title>
{% endblock titulo %}   

{% block estilos %}
    {% load static %}
    <link rel="stylesheet" href={% static "css\post_list.css" %}>
{% endblock estilos %}

{% block post %}
<div class='container'>
 
    <div class='main-contenedor'>
        <h1>Sobre mí</h1>
        <p class='subtitulo'>Mi nombre es Alvaro Medici. Tengo 27 años, y soy de Barracas, C.A.B.A . Estoy trabajando en una fabrica textil pero siempre me lleve bien con las computadoras y todo lo relacoinado </p>
        <p>Este sitio web fue realizado con motivo de la entrega final del curso de Python de Coderhouse. Para su realización hice uso de los conocimientos adquiridos a lo largo del curso, como así también de la documentación de Django y numerosas fuentes de consulta de internet, para resolver problemas puntuales en el desarrollo del código.</p>
        <p>Tengo pensado seguir profundizando mis conocimientos en programación, para pronto lanzarme al mercado laboral en ese ámbito.</p>

    </div>

</div>


<div class='final-links'><a href={% url 'home' %}>Volver a inicio</a> - <a href={% url 'my_profile' %}>Mi perfil</a></div>
{% endblock post %}        
